.messageSender {
    display: flex;
    margin-top: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
    display: flex;
}